[submodule "themes/resume"]
	path = themes/resume
	url = git@github.com:ericrochow/pelican-resume-theme.git
[submodule "plugins"]
	path = plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "output"]
	path = output
	url = git@github.com:ericrochow/resume.git
