[submodule "themes/resume"]
	path = themes/resume
	url = https://github.com/ericrochow/pelican-resume-theme.git
[submodule "plugins"]
	path = plugins
	url = https://github.com/getpelican/pelican-plugins.git
